---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
//Image import
import olympian_hero from '../images/olympian_hero.png';
import team_pic from '../images/team_pic.png';
import olympian1 from '../images/olympian1.png';
import atom from '../images/atom_icon.png';

---


<Layout>
  <!-- Nav -->

    <Nav></Nav>


    <!-- First section -->
    <div class="flex flex-row mt-10 justify-between mb-20 space-x-10 max-lg:flex-col space-y-11 max-lg:text-center">
      <!-- Title -->
        
          <h1 class="ml-36   mt-20 text-6xl w-[14em] text-white font-semibold font-sans max-lg: max-sm:w-3/4">Potentia Is On The <br>  Next  Level Of Tech</h1>
      

        <!-- Subheading -->
        <div class="mx-auto ">
          <h3 class="mr-40  mx-auto text-xl w-[22em] text-gray-500 font-medium font-serif ">Potentia Robotics is the first high school team to design and build a fully-functional humanoid robot entirely from scratch.<br> PLEASE let me out the basement anish 😭 </h3>
          <!-- Buttons -->
          <div class="space-x-4 flex flex-row ">
            <a href="/">
                <button class="outline outline-purple-400  px-4 rounded-md
                shadow-lg  py-1 mt-10 max-md:hidden 
                text-white font-mono font-bold text-xl hover:bg-slate-100
                hover:text-purple-400 hover:shadow-purple-600  transition-all duration-300">Fund</button>
            </a>
            <a href="/">
                <button class="  px-4 rounded-md
                shadow-lg  py-1 mt-10 max-md:hidden 
                text-yellow-300 font-mono font-bold text-xl
               transition-all duration-300">Learn More ↗️</button>
            </a>
          </div>
        </div>
    </div>

  

 


    <!-- Next section -->


    <div class="flex flex-row mt-14 mb-10 space-x-1 ">

      <!-- 1st Card -->

      <div class="bg-gray-900  w-full   hover:border rounded-xl">
        <img src={atom} alt="" class="  h-14 content-none ml-6 mt-6">
        <h1 class="mt-4 ml-6 text-white text-2xl font-bold font-mono">Olympian </h1>
       <p class="mt-2 mb-6 text-gray-300 mr-14 ml-5 text-xl font-serif font-light">Potentia Robotics is the first high school team to design and build a fully-functional humanoid robot entirely from scratch. </p>
      
       <!-- Button -->
      
       <a href="/team" class="ml-3"  >
        <button class="rounded-md  py-2 px-4  text-white font-serif  text-xl">Learn More ↗️ </button>
      </a>
      </div>

      <!-- 2nd Card -->


    
      <div class="bg-gray-900  w-full mx-4 ml-20 hover:border rounded-xl">
        <img src={atom} alt="" class="  h-14 content-none ml-6 mt-6">
        <h1 class="mt-4 ml-6 text-white text-2xl font-bold font-mono">Olympian </h1>
       <p class="mt-2 mb-6 text-gray-300 mr-14 ml-5 text-xl font-serif font-light">Potentia Robotics is the first high school team to design and build a fully-functional humanoid robot entirely from scratch. </p>
      
       <!-- Button -->
      
       <a href="/team" class="ml-3"  >
        <button class="rounded-md  py-2 px-4  text-white font-serif  text-xl">Learn More ↗️ </button>
      </a>
      </div>

      <!-- 3rd Card -->
      
     
      <div class="bg-gray-900  w-full mx-4 ml-20 hover:border rounded-xl">
        <img src={atom} alt="" class="  h-14 content-none ml-6 mt-6">
        <h1 class="mt-4 ml-6 text-white text-2xl font-bold font-mono">Olympian </h1>
       <p class="mt-2 mb-6 text-gray-300 mr-14 ml-5 text-xl font-serif font-light">Potentia Robotics is the first high school team to design and build a fully-functional humanoid robot entirely from scratch. </p>
      
       <!-- Button -->
      
       <a href="/team" class="ml-3"  >
        <button class="rounded-md  py-2 px-4  text-white font-serif  text-xl">Learn More ↗️ </button>
      </a>
      </div>


      <!-- 4th card -->

      <div class="bg-gray-900   w-full mx-4 ml-20 hover:border rounded-xl">
        <img src={atom} alt="" class="  h-14 content-none ml-6 mt-6">
        <h1 class="mt-4 ml-6 text-white text-2xl font-bold font-mono">Olympian </h1>
       <p class="mt-2 mb-6 text-gray-300 mr-14 ml-5 text-xl font-serif font-light">Potentia Robotics is the first high school team to design and build a fully-functional humanoid robot entirely from scratch. </p>
      
       <!-- Button -->
      
       <a href="/team" class="m-3"  >
        <button class="rounded-md  py-2 px-4  text-white font-serif  text-xl">Learn More ↗️ </button>
      </a>
      </div>

      

      <!-- Second card -->

      

    




    </div>
     

 
	<!-- Banner -->
  <div class="relative mt-8  items-center ">
    <img src={olympian_hero} class=" rounded-2xl brightness-50 contrast-75 object-none w-screen h-[24rem]" />
      <!-- Headers -->
   
      <!-- Button -->
        <h1 class="font-bold  text-center text-xl mt-2">
        <a href="/team"  >
          <button class="  outline outline-orange-400   rounded-md
          shadow-lg  py-2 px-4 mt-7
          text-white bg-cyan-700 font-mono font-bold text-xl hover:bg-white
          hover:text-cyan-400 hover:shadow-cyan-600  transition-all duration-300">Meet the Team </button>
        </a> 
      
      </h1>
        <!-- Button -->
        
    </div>
</div>

  
<Footer></Footer>
</Layout>


<!-- Make the navbar shift down  only after 3 seconds -->



 

<!-- Make the Potentia robotics div banner slide in when the website loads -->

